<form action="/details_success" method="post">
    Enter City
    <input type="text" name="city" required><br><br>
    Enter State
    <input type="text" name="state" required><br><br>
    Enter Contact number
    <input type="text" required name="num1" maxlength="10"><br><br>
    Enter Alternate number
    <input type="text" name="num2" maxlength="10"><br><br>
    Enter Primary School
    <input type="text" name="primary" required><br><br>
    Enter secondary School
    <input type="text" name="secondary" required><br><br>
    <input type="submit" name="action" value="submit">
    
    <input type="submit" name="action" value="download">
</form>